
*
{
    /* background-color: aqua; */
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container
{
    height: 100%;
    width:100% ;
}
.navbar
{
    margin: 0%;
}
#item
{
    /* border: 2px solid red; */
    display: flex;
    padding: 20px;
    background-color:whitesmoke;
    align-items: center;
    justify-content: center;
    margin: 0%;
      background-attachment: fixed;
  transition: background-image 0.5s ease;


}
#item li
{
    /* border: 2px solid black; */
    list-style: none;
     padding: 15px;
     /* flex-direction: row; */
     background-color:blueviolet;
     margin: 5px 10px;
     border-radius: 5px;
     font-size:large;

}
#item li:hover
{
    cursor: pointer;
    background-color: white;
}
.home 
{
    /* background-color: aqua; */
    background-image:url('img2.jpg');
    background-size: cover;
    background-position: center;
    height: 900px;
    /* border: 2px solid red; */
      background-attachment: fixed;
  transition: background-image 0.5s ease;

}
.home h1
{
    /* color: blue; */
    color: #ffcc00;  /* golden yellow for bright contrast */

    text-align: center;
    font-size: 52px;
    padding: 2%;
}
.home p
{
    /* color: aliceblue; */
    color: #f0f0f0;  /* soft white/gray for readability */

    text-align: center;
    margin-left: 115px;
    margin-right: 115px;
    /* margin-top: 50px; */
    line-height: 1.8;
}
.menu
{
    background:url('img3.jpg') no-repeat center center;
    /* background-size: auto;
    /* background-position: center; */
        /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: center;
    height: 900px;
      background-attachment: fixed;
  transition: background-image 0.5s ease;  
}
 .menu
 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
}
 .menu h1
 {
    font-family: 'Georgia', serif;
    font-size: 36px;
    font-weight: bold;
    color: white;
    background-color: rgba(211, 84, 0, 0.9); /* semi-transparent background */
    padding: 15px 20px;
    margin-bottom: 30px;
    border-radius: 10px;
}
 
.menu table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

.menu th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

\.menu th {
    background-color: #f4a261;
    color: white;
}

.menu tr:nth-child(even) {
    background-color: #f8e1c1;
}
.locations
{
   
    background-color:chocolate;
    align: center;
     width: 100%;

}
.locations i {
    color: red;
    font-size: 20px;

}
.locations p
{
    font-size: larger;
    text-decoration: underline;

}
.locations h2,p
{
        text-align: center;
        padding: 10px;

}
.contact {
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    background-attachment: fixed;
  transition: background-image 0.5s ease;
}
.contact p{
    font-size: larger;
}
.contact label
{
        font-size: larger;

}
input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}