.desktop1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.desktop1-desktop1 {
  width: 100%;
  height: 811px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(234, 132, 132, 1);
}
 
.desktop1-ellipse1 {
  top: 251px;
  left: 444px;
  width: 322px;
  height: 309px;
  position: absolute;
}
